.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.main .navigation-section {
  width: 30%;
  height: 100%;
  padding-top: 10%;
}

.main .navigation-section .link-div {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .navigation-section .link-div .main-class {
  display: block;
  text-decoration: none;
  color: #3c122c;
  margin: 5px 0;
  font-family: "Gilroy-Extrabold";
}

.main .navigation-section .link-div .type {
  display: block;
  text-decoration: none;
  color: #3c122c;
  margin: 5px 0;
  margin-left: 15px;
}

.main .navigation-section .link-div .sub-types {
  display: block;
  text-decoration: none;
  color: #3c122c;
  margin: 5px 0;
  margin-left: 30px;
}

.main .navigation-section .link-div .main-class:active {
  color: #3c122c;
  background: #d789b9;
}

.main .docs-section {
  width: 70%;
  height: 100%;
  padding-top: 10%;
}

.main .docs-section #gettingStarted h1 {
  font-size: 32px;
  font-family: "Gilroy-Extrabold";
  color: #3c122c;
}

.main .docs-section #gettingStarted hr {
  background: #d789b9;
  height: 10px;
  width: 35%;
  border: none;
  outline: none;
  margin-top: -15px;
  margin-bottom: 25px;
}

.main .docs-section #gettingStarted h3 {
  margin: 15px 0;
}

.main .docs-section #components h1,
.main .docs-section #buttons h1,
.main .docs-section #inputs h1,
.main .docs-section #layouts h1,
.main .docs-section #fonts h1 {
  font-size: 32px;
  font-family: "Gilroy-Extrabold";
  color: #3c122c;
}

.main .docs-section #components hr,
.main .docs-section #buttons hr,
.main .docs-section #inputs hr,
.main .docs-section #layouts hr,
.main .docs-section #fonts hr {
  background: #d789b9;
  height: 10px;
  width: 35%;
  border: none;
  outline: none;
  margin-top: -15px;
  margin-bottom: 25px;
}

.main .docs-section #components .box,
.main .docs-section #buttons .box,
.main .docs-section #inputs .box,
.main .docs-section #layouts .box,
.main .docs-section #fonts .box {
  width: 100px;
  height: 100px;
  background: #f6e06e;
}

.main .docs-section #components .slab,
.main .docs-section #buttons .slab,
.main .docs-section #inputs .slab,
.main .docs-section #layouts .slab,
.main .docs-section #fonts .slab {
  width: 100%;
  height: 60px;
  background: #d789b9;
}

.main .docs-section #components h3,
.main .docs-section #buttons h3,
.main .docs-section #inputs h3,
.main .docs-section #layouts h3,
.main .docs-section #fonts h3 {
  font-family: "Gilroy-Extrabold";
  font-size: 26px;
}

.main .docs-section #components p,
.main .docs-section #buttons p,
.main .docs-section #inputs p,
.main .docs-section #layouts p,
.main .docs-section #fonts p {
  margin-bottom: 35px;
}

.main .docs-section #components .props-table,
.main .docs-section #buttons .props-table,
.main .docs-section #inputs .props-table,
.main .docs-section #layouts .props-table,
.main .docs-section #fonts .props-table {
  margin-top: 30px;
}

.main .docs-section #components .props-table h1,
.main .docs-section #buttons .props-table h1,
.main .docs-section #inputs .props-table h1,
.main .docs-section #layouts .props-table h1,
.main .docs-section #fonts .props-table h1 {
  font-family: "Gilroy-Light";
  font-weight: 800;
  font-size: 24px;
}

.main .docs-section #components .props-table table,
.main .docs-section #buttons .props-table table,
.main .docs-section #inputs .props-table table,
.main .docs-section #layouts .props-table table,
.main .docs-section #fonts .props-table table {
  width: 100%;
  margin-bottom: 55px;
}

.main .docs-section #components .props-table table th,
.main .docs-section #buttons .props-table table th,
.main .docs-section #inputs .props-table table th,
.main .docs-section #layouts .props-table table th,
.main .docs-section #fonts .props-table table th {
  font-family: "Gilroy-Extrabold";
  text-align: left;
  padding: 10px 0;
}

.main .docs-section #components .props-table table tr td,
.main .docs-section #buttons .props-table table tr td,
.main .docs-section #inputs .props-table table tr td,
.main .docs-section #layouts .props-table table tr td,
.main .docs-section #fonts .props-table table tr td {
  padding: 8px 0;
}
/*# sourceMappingURL=docs.css.map */