@import "./mixins";
@import "./variables";

.main {
  @include displayFlex(row, center, center);
  width: 60%;
  height: 100%;
  margin: 0 auto;
  .navigation-section {
    width: 30%;
    height: 100%;
    padding-top: 10%;
    .link-div {
      position: fixed;
      @include displayFlex(column, center, flex-start);
      .main-class {
        @include resetLinks();
        font-family: "Gilroy-Extrabold";
      }
      .type {
        @include resetLinks();
        margin-left: 15px;
      }
      .sub-types {
        @include resetLinks();
        margin-left: 30px;
      }
      .main-class:active {
        color: $primaryColor;
        background: $pinkTint;
      }
    }
  }
  .docs-section {
    width: 70%;
    height: 100%;
    padding-top: 10%;
    #gettingStarted {
      @include titleStyle();
      h3 {
        margin: 15px 0;
      }
    }
    #components,
    #buttons,
    #inputs {
      @include titleStyle();
      h3 {
        font-family: "Gilroy-Extrabold";
        font-size: 26px;
      }
      p {
        margin-bottom: 35px;
      }
      .props-table {
        margin-top: 30px;
        h1 {
          font-family: "Gilroy-Light";
          font-weight: 800;
          font-size: 24px;
        }
        @include table();
      }
    }
  }
}
